<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcnc.payroll.mapper.ApiSpecsMapper">

	<select id="retrieveListApiSpecs" resultMap="propertyResultMap">
		SELECT
			A.API_NAME            AS "apiName",
			A.FIELD_NAME          AS "fieldName",
			A.PARENT_FIELD_NAME   AS "parentFieldName",
			A.DATA_TYPE           AS "dataType",
			A.FIELD_LOCATION      AS "fieldLocation",
			A.IS_REQUIRED         AS "isRequired",
			B.RULE_TYPE           AS "ruleType",
			B.RULE_VALUE          AS "ruleValue",
			B.ERROR_MESSAGE       AS "errorMessage"
		FROM
			FRM_API.API_PROPERTY A
			LEFT JOIN FRM_API.API_VALIDATION_RULES B 
				ON B.API_NAME = A.API_NAME AND B.FIELD_NAME = A.FIELD_NAME
		WHERE A.API_NAME = #{apiName}
			AND PARENT_FIELD_NAME = #{parentFieldName}
			AND FIELD_LOCATION = #{fieldLocation}
	</select>

	<resultMap id="propertyResultMap" type="Property">
		<result property="apiName" column="apiName"/>
		<result property="fieldName" column="fieldName"/>
		<result property="parentFieldName" column="parentFieldName"/>
		<result property="dataType" column="dataType"/>
		<result property="fieldLocation" column="fieldLocation"/>
		<result property="isRequired" column="isRequired"/>
		<collection property="validationRules" ofType="ValidationRule">
			<result property="ruleType" column="ruleType"/>
			<result property="ruleValue" column="ruleValue"/>
			<result property="errorMessage" column="errorMessage"/>
		</collection>
	</resultMap>

</mapper>