<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcnc.payroll.mapper.PayrollTransferMapper">
	<insert id="registerPayrollTransferData">
		INSERT INTO PAYROLLS (ACNO, AMT) VALUES (#{accountNo}, #{amount});
	</insert>

	<select id="retrieveListPayrollTransferData">
		SELECT * FROM PUBLIC.PAYROLLS;
	</select>
</mapper>